CMakeCache.txt
CMakeFiles
CTestTestfile*
Makefile
cmake_install.cmake
install_manifest.txt
_CPack_Packages
results/
build/
lib/
CPack*
testes/
docs/
Testing/
tmp/
.ipynb_checkpoints/

gmon.out

*kate-swp

#file
*~
$.a

Doutorado.sublime-workspace

.DS_Store
gurobi.log
*.log
*.lp
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
